.ShardMongosComponent {
    -fx-alignment: center;
    -fx-background-color: #F9EAFF;
    -fx-border-color: #5A6C75;
    -fx-border-width: 1;
}

.ShardMongosComponentMemberName {
    -fx-font-size: 18;
    -fx-fill: #5A6C75;
}